<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tailwindcss.css">
    <title>Document</title>
</head>
<body class=" bg-black">
    <div id="app">

        <div class=" mt-10 flex justify-center mb-12">   

            <div class=" relative " v-for="(slide, index) in slides" :key="slide" :index="index" visibleSlide="visibleSlide">
        <div v-show="visibleSlide == index"> 
          <div class="flex justify-center">
            <h1 class=" pb-4 rounded-2xl text-2xl text-gray-200 font-bold ">
            Enjoy Our Gallery!
            </h1>
    
            
    
          </div>
               <img style="width:650px;height:500px;"  class="relative overflow-hidden  ring-6 p-8 bg-gray-200 rounded-2xl" :src="slide" alt="">                                 
         <button @click="prev"  class=" absolute top-1/2 ml-0.5"><img width="28px" src="icons/left-arrow.svg" alt=""></button>
         <div class="flex justify-end">
            <button @click="next" class=" absolute top-1/2 mr-0.5"><img width="28px" src="icons/right-arrow.svg" alt=""></button>
            </div>
        </div>
        </div>
        </div>


<div class="mx-auto max-w-7xl mt-3">
<ul  class="grid grid-cols-3  ">
    <li  v-for="item in slides" class=" mb-12 w-full h-full">
        <img  class="transform transform hover:scale-105 duration-500 w-96 h-80 " :src="item" alt="">


    </li>
</ul>
</div>





    </div>

    <script src="vue.js"></script>
    <script>
        let app = new Vue ({
            el: '#app',
            data: {
            slides:[
                "img/1.jpg",
                "img/2.jpg",
                "img/3.jpg",
                "img/4.jpg",
                "img/6.jpg",
                "img/7.jpg",
                "img/8.jpg",
                "img/9.jpg",
                "img/10.jpg",
                "img/11.jpg",
                "img/12.jpg",
                "img/13.jpg",
                "img/14.jpg",
                "img/15.jpg",
                "img/16.jpg",
                "img/17.jpg",
                "img/18.jpg",
                "img/Abraj.jpg",
            ],
            visibleSlide : 0,
                        },

            methods: {
                next (){
                    if(this.visibleSlide == this.slides.length - 1){
                        this.visibleSlide = 0
                    }
                    else{
                        this.visibleSlide++
                    }

                },

                prev(){
                    if(this.visibleSlide == 0){
                        this.visibleSlide = this.slides.length - 1
                    }
                    else{
                        this.visibleSlide--
                    }
                },
           
                
            },
        })
    </script>
</body>
</html>