<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tailwindcss.css">
    <link rel="icon" href="img/logo.png" />
    <title>Document</title>
    <style>
        .h-100{
            height: 40rem;
        }
    </style>
</head>
<body class=" ">
    <div id="app">

    <!-- NAV BAR -->
<div class="flex flex-col h-screen">

  
    
  <nav class="bg-gray-200 inset-x-0 md:fixed md:top-0 z-50 bg-opacity-90">
    <div class="flex justify-between ">   <a
        href="\"
        class="flex items-center justify-center font-semibold"
      >
        <img class="h-12" src="img/logo.png" alt="logo" />
        <p  >Baghdad Projects</p>
      </a>

      <div class="flex space-x-5 mr-4 mt-3 items-center hidden md:block">
   
       <a href="news.html" class="font-semibold hover:text-blue-700 duration-300 "
          >NEWS</a
        > 
        <a href="gallery.html" class="font-semibold hover:text-blue-700 duration-300  "
              >GALLERY</a
            >
            <a href="addproject.html" class="font-semibold hover:text-blue-700 duration-300  "
              >ADD PROJECT</a
            >
            <a href="aboutus.html" class="font-semibold hover:text-blue-700 duration-300  "
          >ABOUT US</a
        > 
         <a href="contactus.html" class="font-semibold hover:text-blue-700  duration-300 "
          >CONTACT US</a
        >
      </div>
      <div class="md:hidden mr-2">
        <button  @click="menu=!menu"><img  src="icons/menu-button-of-three-horizontal-lines.png" class=" w-6 mt-3"></button>
        
      </div>
    </div>
  </nav>
  <div v-show="menu" class=" md:hidden  w-full bg-gray-700 text-white flex flex-col">
    <a href="news.html" class="border-b-2 border-white p-2 hover:text-blue-700 duration-300 "
    >NEWS</a
  > 
   <a href="gallery.html" class="border-b-2 border-white p-2 hover:text-blue-700 duration-300  "
    >GALLERY</a
  >
      <a href="aboutus.html" class="border-b-2 border-white p-2 hover:text-blue-700 duration-300  "
    >ABOUT US</a
  > 
   <a href="contactus.html" class="border-b-2 border-white p-2 hover:text-blue-700  duration-300 "
    >CONTACT US</a
  >
  </div>
          
        
        <div class="grid grid-cols-12 pt-12">
          <div class="col-span-2 ">
            <div class=" mt-8 ml-12 font-semibold">
              <h1 style="font-family: 'Questrial', sans-serif;"class="-ml-4 text-2xl font-black mb-12">
                Projects <br > Gallery
              </h1>  
              <h2 class=" -mt-8 mb-8 text-blue-700 ml-1">Photgraphs/Stories</h2>
            <div class="space-y-2 overflow-y-auto  h-100 text-sm mt-3">
              <a v-on:click="originalf" :class="{underline:original}"  href="#" class="text-gray-700 hover:text-blue-700 block focus:font-black ">HOME</a>
              <a v-on:click="bank"  href="#" :class="{underline:holder==bankimg && original==false}"  class="text-gray-700 hover:text-blue-700 block ">Central Bank of Iraq</a>
              <a v-on:click="abraj" href="#" :class="{underline:holder==abrajimg && original==false}" class="text-gray-700 hover:text-blue-700 block">Abraj City</a>
              <a v-on:click="dose" href="#" :class="{underline:holder==doseimg && original==false}" class="text-gray-700 hover:text-blue-700 block ">Dose Caffe</a>
              <a v-on:click="sixty" href="#" :class="{underline:holder==sixtyimg && original==false}" class="text-gray-700 hover:text-blue-700 block">650 Caffe</a>
              <a v-on:click="offside" href="#" :class="{underline:holder==offsideimg && original==false}" class="text-gray-700 hover:text-blue-700 block">Offside Caffe</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
              <a v-on:click="originalf" href="#" class="text-gray-700 hover:text-blue-700 block">project</a>
            </div>
            </div>
          </div>

          

          <!-- PHOTOS -->


        

  <div  v-show="original" class=" col-span-10 mx-4 pt-9">
            <div class="mx-auto max-w-7xl ">
            <ul  class="grid grid-cols-4 gap-4 ">
                <li  v-for="item in slides" class="  w-full h-full">
                    <img  class="  transform  hover:scale-110 object-cover duration-500 w-full h-72 " :src="item" alt="">
            
            
                </li>
            </ul>
          </div>       
        </div>  
        
        
        
        <div class=" col-span-10 mx-4 pt-8">
          <div class="mx-auto max-w-7xl ">
                      <div v-for="it in lore"  class="bg-gray-200 p-5 mb-4">
                        <h1 class=" text-lg font-semibold  text-gray-700  text-left">
                          {{it.header}}
                        </h1>
                      <p class=" text-gray-600  ">
                        {{it.story}}
                      </p>
                          </div>
          <ul  class="grid grid-cols-4 gap-4 ">
              <li  v-for="item in holder" class=" w-full h-full">
                  <img  class="  transform  hover:scale-110 object-cover duration-500 w-full h-72 " :src="item" alt="">
          
          
              </li>
          </ul>
        </div>       
      </div>  
     </div>
                    
                    
                    <!-- FOOTER -->
                    
 <div class="flex justify-center text-xl border-t-2 mt-4 bg-white">
  <div class=" flex-col ">
    <div class=" font-semibold flex justify-center text-3xl text-gray-700">
      <img  class=" w-24" src="img/logo.png" alt="">
    </div>
    <div class="flex justify-center space-x-4 mt-">
      <a href="https://www.facebook.com/BaghdadProjects">
        <img class="w-10" src="icons/facebook.png" alt="">
      </a>
     <a href="https://www.instagram.com/baghdadprojects/?fbclid=IwAR2Jm3z72x9w1m4j8kPzClwEI2pBCahKLZwNuCYHhC0BwI_eCiDwH202zXg">
       <img class="w-10" src="icons/instagram.png" alt="">
     </a>
    <a href="contactus.html">
      <img class="w-10" src="icons/whatsapp.png" alt="">
    </a>
    <a href="contactus.html">
      <img class="w-10" src="icons/email.png" alt="">
    </a>
   </div>
   <div class="mt-3 pb-8 flex text-sm text-gray-500 font-semibold items-center space-x-1">
     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 16 16">
    <path fill="#444444" d="M8 1.5c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5-6.5-2.9-6.5-6.5 2.9-6.5 6.5-6.5zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z"></path>
    <path fill="#444444" d="M9.9 10.3c-0.5 0.4-1.2 0.7-1.9 0.7-1.7 0-3-1.3-3-3s1.3-3 3-3c0.8 0 1.6 0.3 2.1 0.9l1.1-1.1c-0.8-0.8-2-1.3-3.2-1.3-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5c1.1 0 2-0.4 2.8-1l-0.9-1.2z"></path>
    </svg>
    
  <p class="">2016-2021 Baghdad Projects. All Rights Reserved.</p>
  </div>
  </div>
  
  
  </div>
  
      </div>
</div>

    <script src="vue.js"></script>
    <script>
        let app = new Vue ({
            el: '#app',
            data: {   
              menu:false,
              slides:[
                "img/1.jpg",
                "img/2.jpg",
                "img/3.jpg",
                "img/4.jpg",
                "img/6.jpg",
                "img/7.jpg",
                "img/8.jpg",
                "img/9.jpg",
                "img/10.jpg",
                "img/11.jpg",
                "img/12.jpg",
                "img/13.jpg",
                "img/14.jpg",
                "img/15.jpg",
                "img/16.jpg",
                "img/17.jpg",
                "img/18.jpg",
                "img/Abraj.jpg",
            ],
            bankimg:[
            "img/1.jpg",
            "img/7.jpg",
            "img/27.jpg",
            "img/1.jpg",
            "img/7.jpg",
            "img/27.jpg",
            "img/1.jpg",
            "img/7.jpg",
            "img/27.jpg",
            "img/1.jpg",
            "img/7.jpg",
            "img/27.jpg",
          ],
          bankStory:[
            {
              header:'Central Bank of Iraq',
            story:`Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
`
          },
          ],
          abrajimg:[
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",
          "img/Abraj.jpg",
          "img/news/Abraj1.jpg",

          ],
          abrajStory:[
            {
              header:'Abraj City',
            story:`Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
`
          },
          ],
            doseimg:[
            "img/13.jpg",
            "img/19.jpg",
            "img/20.jpg",
            "img/21.jpg",
            "img/22.jpg",
            "img/24.jpg",
            "img/13.jpg",
            "img/19.jpg",
            "img/20.jpg",
            "img/21.jpg",
            "img/22.jpg",
            "img/24.jpg",
            ],
            doseStory:[
            {
              header:'Dose Caffe',
            story:`Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
`
          },
          ],
            sixtyimg:[
            "img/6.jpg",
            "img/3.jpg",
            "img/25.jpg",
            "img/26.jpg",
            "img/6.jpg",
            "img/3.jpg",
            "img/25.jpg",
            "img/26.jpg",
            "img/6.jpg",
            "img/3.jpg",
            "img/25.jpg",
            "img/26.jpg",
            ],
            sixtyStory:[
            {
              header:'650 Caffe',
            story:`Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
`
          },
          ],
            offsideimg:[
            "img/12.jpg",
            "img/23.jpg",
            "img/12.jpg",
            "img/23.jpg",
            "img/12.jpg",
            "img/23.jpg",
            "img/12.jpg",
            "img/23.jpg",
            "img/12.jpg",
            "img/23.jpg",
            "img/12.jpg",
            "img/23.jpg",
            ],
            offsideStory:[
            {
              header:'Offside Caffe',
            story:`Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur minima quas nihil ea velit sequi accusantium cumque debitis, est aut quia nobis nemo ipsa molestiae optio beatae eius alias? Sint?
`
          },
          ],
            holder:[],
            lore:[],
            original:true,
                        },

            methods: {
              originalf(){
                this.holder=this.slides
                this.original=false
                this.lore = null
              },
              dose(){
                this.holder=this.doseimg
                this.original=false
                this.lore = this.doseStory
                            },
              bank(){
                this.holder=this.bankimg
                this.original=false
                this.lore = this.bankStory
                            },        
              abraj(){
                this.holder=this.abrajimg
                this.original=false
                this.lore = this.abrajStory
                            },
              sixty(){
                this.holder=this.sixtyimg
                this.original=false
                this.lore = this.sixtyStory
              },
              offside(){
                this.holder=this.offsideimg
                this.original=false
                this.lore = this.offsideStory
              },
           
              showMenu(){
                      this.menu = true
                    }
            },
        })
    </script>
</body>
</html>